@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --color-primary: #1C82B8;
    --color-dark: #5D7987;
    --color-Lighter: #49EBCA;
    --color-contrast-1: #ED6A58;
    --color-contrast-2: #B80D1C;
    --color-background: #9bf7e4;
    --padding-increment: 4px;
    --gutters-size: 16px;
}
.listall{
    color: var(--color-primary);
}
.listall h1{
    font-size: 40px;
    font-weight: 500;
    margin: 10px;
}
.home{
    width: 100%;
    overflow: hidden;
}
.promo{
    background-color: var(--color-contrast-1);
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    line-height: calc(var(--padding-increment) * 6);
}
.home > div > h3 {
    padding: calc(var(--padding-increment)) var(--gutters-size);
    margin:  0 0 calc(var(--padding-increment) * 9) 0;
    font-size: 1.75rem;
    line-height: 1.2;
    color: #212529;
}
.home div ul {
    padding: 0 var(--gutters-size);
}

.icon{
    font-size: 20px;
}

.heart {
    color:var(--color-primary);
}
