@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --color-primary: #1C82B8;
    --color-dark: #5D7987;
    --color-Lighter: #49EBCA;
    --color-contrast-1: #ED6A58;
    --color-contrast-2: #B80D1C;
    --color-background: #9bf7e4;
}
.listall{
    color: var(--color-primary);
}
.listall h1{
    font-size: 40px;
    font-weight: 500;
    margin: 10px;
}
.home{
    width: 100%;
    overflow: hidden;
}
.promo{
    background-color: var(--color-Lighter);
    color: var(--color-dark);
    font-size: 16px;
    text-align: center;
}
.iconstop{
    margin-right: 10px;
    font-size: 20px;
    color: var(--color-primary);
}
.nav-menu{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 150px;
    position: absolute;
    top: 45px;
    left: -100%;
    background-color: var(--color-background);
    z-index: 10;
    transition: all 0.5s;
    opacity: 1;
}
.nav-menu.active{
    opacity: 1;
    left: 0;
    background-color: var(--color-background);
    transition: all 0.5s;
    z-index: 10;
}
.path-Bar{
    text-decoration: none;
    padding: 5px;
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
}
.icon{
    font-size: 20px;
}
.heart{
    color: 'red'; 
    font-size: 35px;
    cursor: 'pointer';
    top: 10px;
    right: 10px;
    position: absolute;
    color: var(--color-contrast-2);
}
.heart2{
    color: 'red'; 
    font-size: 20px;
    cursor: 'pointer';
    top: 5px;
    right: 5px;
    position: absolute;
    color: var(--color-contrast-2);
}