@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #1C82B8;
    --color-dark: #5D7987;
    --color-Lighter: #49EBCA;
    --color-contrast-1: #ED6A58;
    --color-contrast-2: #B80D1C;
}
.product{
    font-family: Roboto;
    max-width: 380px;
}
.product-img{
    margin: 5px;
    position: relative;
}
.heart{
    color: 'red'; 
    font-size: 35px;
    cursor: 'pointer';
    top: 10px;
    right: 10px;
    position: absolute;
    color: var(--color-contrast-2);
}
.product-img img{
    width: 100%;
    height: 100%;
}
.product-info h2 {
        text-align: left;
        font-size: 35px;
        font-weight: 900;
        color: var(--color-primary);
        margin: 5px 0 0 5px;
}
.star{
    color: var(--color-contrast-1);
}
.product-info p {
        font-size: 14px;
        font-weight: 500;
        margin: 0 0 0 5px;
        text-align: left;
}
.products-buttons{
    display: flex;
    align-items: center
}
.products-buttons button{
    width: 90px;
    height: 40px;
    border: 1px solid var(--color-dark);
    border-radius: 100px;
    background-color: var(--color-dark);
    color: var(--color-Lighter);
    margin: 15px 0 5px 5px;
    font-size: 14px;
}

