@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #1C82B8;
    --color-dark: #5D7987;
    --color-Lighter: #49EBCA;
    --color-contrast-1: #ED6A58;
    --color-contrast-2: #B80D1C;
    --color-background: #9bf7e4;
}

.buttom-bar{
    background-color: var(--color-background);
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    position: sticky;
    bottom:0;
    z-index: 15;
    padding: 0 10px;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}
.icon{
    font-size: 20px;
}
h6{
    font-size: 10px;
    font-weight: 400;
}